<div id="navbar_plugin_filamentreload" 
     class="filament-sensor-indicator"
     data-bind="attr: { title: tooltipText }">
    <i class="fa fa-circle" 
       data-bind="css: iconClass"></i>
</div>